{% if references | d() %}
<section class="resume-section references-section mb-5">
  <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Références</h2>
  <div class="resume-section-content">
    {% for reference in references %}
    <div class="col-sm-12">
      {% if reference.reference %}
      <blockquote class="reference">
        <p>{{ reference.reference }}</p>
        {% if reference.name %}
        <p class="name">
          <strong>— {{ reference.name }}</strong>
        </p>
        {% endif %}
      </blockquote>
      {% endif %}
    </div>
    {% endfor %}
  </div><!--//row-->
</section><!--//references-section-->
{% endif %}
