{% if work | d() %}
<section class="resume-section experience-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Expériences</h2>
    <div class="resume-section-content">
        <div class="resume-timeline position-relative">
            {% for item in work %}
            <article class="resume-timeline-item position-relative pb-5">
                
                <div class="resume-timeline-item-header mb-2">
                    <div class="d-flex flex-column flex-md-row">
                        <h3 class="resume-position-title font-weight-bold mb-1">{{ item.position }}</h3>
                        <div class="resume-company-name ml-auto">{{ item.name }}</div>
                    </div><!--//row-->
                    <div class="resume-position-time">{{ item.startDate }} — {{ item.endDate | d("Aujourd'hui") }}</div>
                </div><!--//resume-timeline-item-header-->
                <div class="resume-timeline-item-desc">
                    {% if item.summary | d() %}
                    <p>{{ item.summary }}</p>
                    {% endif %}
                    {% if item.highlights | d() %}
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Réalisations</h4>
                    <ul>
                        {% for highlight in item.highlights %}
                        <li>{{ highlight }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if item.keywords | d() %}
                    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies:</h4>
                    <ul class="list-inline">
                        {% for keyword in item.keywords %}
                        <li class="list-inline-item"><span class="badge badge-primary badge-pill">{{ keyword }}</span></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div><!--//resume-timeline-item-desc-->

            </article><!--//resume-timeline-item-->
            {% endfor %}
            
        </div><!--//resume-timeline-->
    </div>

    {% if projects | d() %}
    <br><br>
    <section class="resume-section experience-section mb-5">
        <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Projets</h2>
        <div class="resume-section-content">
            <div class="resume-section position-relative">
                {% for project in projects %}
                <article class="resume-item position-relative pb-2">
                    
                    <div class="resume-item-header mb-2">
                        <div class="d-flex flex-column flex-md-row">
                            <h3 class="resume-position-title font-weight-bold mb-1">{{ project.name }}</h3>
                            <div class="resume-company-name ml-auto">
                                <a href="{{ project.url }}">{{ project.url | replace('http://', '') | replace('https://', '') }}</a>
                            </div>
                        </div><!--//row-->
                        <div class="resume-position-time">{{ project.startDate }} — {{ project.endDate | d("Aujourd'hui") }}</div>
                    </div><!--//resume-timeline-item-header-->
                    <div class="resume-timeline-item-desc">
                        {% if project.description | d() %}
                        <p>{{ project.description }}</p>
                        {% endif %}
                        {% if project.keywords | d() %}
                        <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies:</h4>
                        <ul class="list-inline">
                            {% for keyword in project.keywords %}
                            <li class="list-inline-item"><span class="badge badge-primary badge-pill">{{ keyword }}</span></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div><!--//resume-timeline-item-desc-->

                </article><!--//resume-timeline-item-->
                {% endfor %}
                
            </div><!--//resume-timeline-->
        </div>
    </section><!--//experience-section-->
    {% endif %}
</section><!--//experience-section-->
{% endif %}
