<!DOCTYPE html>
<html lang="{{ meta.lang | d('en') }}">
<head>

    <title>{{ basics.name }} - {{ basics.label }}</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ basics.name }} - {{ basics.label }}">
    <meta name="author" content="{{ basics.name }}">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{{ meta.assets_url | d() }}/assets/css/roboto.css" integrity="sha384-V/jASFxBhvgXN5a19xwqhvn4q/JXBJB3Vym0wqar5scnbel9QYEhq1WbK2dUelN6">
    <link id="theme-style" rel="stylesheet" href="{{ meta.assets_url | d() }}/assets/css/{{ meta.css_variant | d('pillar-1') }}.css" integrity="{{ meta.css_variant_integrity | d('sha384-7jn5wevIZeMxNJkaj10hzeA0nguTncy5TpZhfgXSr+plip0kg5jKafCAiEckB6dl') }}">

    <script defer src="{{ meta.assets_url | d() }}/assets/fontawesome/js/all.min.js" integrity="sha384-9/D4ECZvKMVEJ9Bhr3ZnUAF+Ahlagp1cyPC7h5yDlZdXs4DQ/vRftzfd+2uFUuqS"></script>

</head>

<body>

    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
            {% include 'includes/header.html' %}
		    <div class="resume-body p-5">
                {% include 'includes/summary.html' %}
			    <div class="row">
                    <div class="col-lg-9">
                        {% include 'includes/work.html' %}
                        {% include 'includes/references.html' %}
                    </div>
				    <div class="col-lg-3">
                        {% include 'includes/skills.html' %}
                        {% include 'includes/education.html' %}
                        {% include 'includes/awards.html' %}
                        {% include 'includes/language.html' %}
                        {% include 'includes/interests.html' %}
                        {% include 'includes/download.html' %}
				    </div>
			    </div><!--//row-->
		    </div><!--//resume-body-->
	    </div>
    </article>

    <footer class="footer text-center pt-2 pb-5">
	    <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
        <small class="copyright">Built with <i class="fab fa-python"></i> by <a href="https://sr.ht/~nka/resume-pycli" target="_blank">Resume-PyCLI</a> from <a href="{{ meta.canonical }}" target="_blank">resume.json</a>. Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers. </small>
    </footer>

</body>
</html>
